<div class="chxt5-container">
  <div class="chxt5-header">
    <h1 class="chxt5-title">L21:COM XT17NO</h1>
  </div>

  <div class="chxt5-buttons-wrapper">
    <button 
      class="chxt5-print-button" 
      (click)="imprimerPar3(); createRipple($event)"
      routerLink="/XT7"
      type="button">
      IMPRIMER PAR 3
    </button>

    <button 
      class="chxt5-print-button" 
      (click)="imprimerPar4(); createRipple($event)"
      type="button">
      IMPRIMER PAR 4
    </button>
  </div>
</div>