<div class="chxt5-container">
  <div class="chxt5-header">
    <h1 class="chxt5-title">L34:POLO XT5</h1>
  
<button 
      class="chxt5-back-button" 
      (click)="goBack()"
      type="button"
      aria-label="Retour">
      ←
    </button>
  </div>
  <div class="chxt5-buttons-wrapper">
    <button 
      class="chxt5-print-button" 
      (click)="imprimerPar3(); createRipple($event)"
      routerLink="/Polo1"
      type="button">
      IMPRIMER PAR 1
    </button>

    <button 
      class="chxt5-print-button" 
      (click)="imprimerPar4(); createRipple($event)"
      routerLink="/Polo"
      type="button">
      IMPRIMER PAR 4
    </button>
  </div>
</div>
